@import url('common.css');
body {
    background-color: #dcdcdd;
}
header {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    transition: all 0.25s ease;
}
header:hover {
    background-color: rgba(255,255,255,1);
}
header>* {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    gap: 0px 25px;
}
header>nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0b132b;
    padding: 7.5px 15px;
    border-radius: 5px;
    gap: 0px 5px;
    transition: all 0.25s ease;
}
header>nav a p {
    font-size: 0.9em;
    font-weight: bold;
}
header>nav a:hover {
    background-color: rgba(129, 195, 215, 0.3);
}
header>div:first-child {
    justify-content: flex-start;
    padding: 0px 25px;
}
header>div:last-child {
    gap: 0px 10px;
}
header>div:last-child a {
    padding: 7.5px 15px;
    transition: all 0.25s ease;
    border-radius: 5px;
    font-weight: bold;
}
#login_button {
    color: #16425b;
    border: 2px solid #16425b;
}
#logon_button {
    color: white;
    background-color: #16425b;
    border: 2px solid #16425b;
}
header>div:last-child a:hover {
    opacity: 0.8;
}
#logo {
    height: 85%;
}
#logo img {
    height: 100%;
}
#search_input {
    flex-grow: 1;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #cacaca;
    transition: all 0.25s ease;
}
#search_input button {
    width: 12.5%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.25s ease;
}
#search_input button:hover {
    background-color: #c9c9c9;
}
#search_input button:active {
    background-color: #c9c9c9;
}
#search_input input {
    flex-grow: 1;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: transparent;
    border: none;
    padding: 0px 15px;
    outline: none;
    font-size: 0.8em;
    transition: all 0.25s ease;
}
#search_input:hover {
    background-color: #e4e4e4;
}
#search_input:has(input:focus) {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #e4e4e4;
}
#profile {
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
}
#profile #img {
    width: 42.5px;
    height: 42.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#profile_info {
    padding: 0px 20px 0px 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}
#profile_info p:first-child {
    font-size: 0.9em;
    font-weight: bold;
}
#profile_info p:last-child {
    font-size: 0.7em;
    font-weight: bold;
    color: #46494c;
}
#profile_button {
    visibility: hidden;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}
#profile:hover {
    background-color: #e4e4e4;
}
#profile:hover #profile_button {
    visibility: visible;
}
main {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#page_title {
    padding: 20px 0px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: #0b132b;
}
#page_title h2 {
    font-size: 4em;
}
#page_title h3 {
    font-size: 1.2em;
    font-weight: 500;
}
footer {
    width: 100vw;
    height: 300px;
    background-color: #16425b;
}
#profile_dropdown {
    position: fixed;
    z-index: 3;
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.25s ease;
}
#profile_dropdown>* {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    cursor: pointer;
    background-color: white;
    transition: all 0.25s ease;
}
#profile_dropdown>*:hover {
    background-color: #f0f0f0;
}
#profile_dropdown>* i {
    width: 30%;
    font-size: 1.1em;
}
#profile_dropdown>* p {
    width: 70%;
    font-size: 0.9em;
    font-weight: 500;
}
#profile_dropdown>*:first-child {
    border-bottom: 2px solid #f0f0f0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#profile_dropdown>*:last-child {
    border-top: 2px solid #f0f0f0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.visible {
    opacity: 1 !important;
}
.opened {
    background-color: white !important;
}
.opened i {
    rotate: 180deg;
}
body.dark header {
    background-color: rgba(0,0,0,0.8);
}
body.dark header:hover {
    background-color: rgba(0,0,0,1);
}
body.dark header>nav a {
    color: white;
}
body.dark header>nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#load_button {
    margin-top: 25px;
    width: 1100px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #16425b;
    border: 2px solid #16425b;
    font-weight: bold;
    font-size: 1em;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s ease;
}
#load_button img {
    display: none;
}
#load_button:hover {
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.loading {
    border: transparent !important;
}
.loading p {
    display: none;
}
.loading img {
    width: 50px;
    display: block !important;
}
.loading:hover {
    opacity: 1;
    box-shadow: none;
}
